/* .product-card {
  transition:
    transform 120ms ease,
    box-shadow 120ms ease,
    border-color 120ms ease,
    background-color 120ms ease;
}

.product-card:hover {
  transform: translateY(-2px);
  box-shadow: var(--mantine-shadow-md);
  border-color: var(--mantine-color-gray-3);
  background-color: #fff;
} */
